.filter-sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-sidebar h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.filter-sidebar label {
  font-size: 1rem;
  color: #555;
}

.filter-sidebar input {
  margin-right: 10px;
}